 <div th:insert="menu.html"></div>
<html xmlns:th="http://www.thymeleaf.org">
 <body onload="makeActive('withdraw')">
 <form action="withdraw-amount"> 
  <table class='ta' style='background-color:gray'>
    <tr>
     <td class='td'>Enter amount:</td>
     <td class='td'><input type='number' th:value="${amount}" id="amount" name='amount' class='tb' required></td>
     <td class='td'><button class='bt' onclick="return checkAmountLimit()">Submit</button></td>
    </tr>
   </table>
  </form>
  <div class='dvv'>
   <label class='lah' id="error" style='color:red' th:text="${msg}"></label>
  </div> 
 </body>
</html>